<ion-content [fullscreen]="true">
  <div class="header" [style.backgroundImage]="'url(/assets/images/header.png)'">
  </div>


  <div class="profile">
    
   
    <ion-label class="username">ana karl</ion-label>
    <ion-label class="bio">ashes over flowers</ion-label>
    <ion-label class="desc">21, still not ready for life, she/her</ion-label>
    
    <ion-button size="small" color="light" href="https://ngl.link/akblae">ask me anything</ion-button>


    <ion-slides [options]="option">
   
    <ion-slide>
      <ion-card >
        <img src="assets/images/ak4.jpg"/>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card >
        <img src="assets/images/ak2.jpg"/>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/ak3.jpg"/>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card >
        <img src="assets/images/ak.jpg"/>
      </ion-card>
    </ion-slide>
  
  </ion-slides>  

    <h1 class="categories"><ion-icon class="categories_icon" name="person-outline"></ion-icon>About Me</h1>
    
      <app-info></app-info>

  </div>

  <div>
    
    <h1 class="categories"><ion-icon class="categories_icon" name="chatbubbles-outline"></ion-icon>Social Media</h1>

    <ion-grid>

      <ion-row class="row">

        <ion-col size="auto">
          <ion-router-link href="https://www.facebook.com/damnblae">
            <ion-icon class="socmed" name="logo-facebook"></ion-icon>
          </ion-router-link>
        </ion-col>

        <ion-col size="auto">
          <ion-router-link href="https://twitter.com/akblae">
           <ion-icon class="socmed" name="logo-twitter"></ion-icon>
          </ion-router-link>
        </ion-col>

        <ion-col size="auto">
          <ion-router-link href="https://www.instagram.com/akblae/">
            <ion-icon class="socmed" name="logo-instagram"></ion-icon>
          </ion-router-link>
        </ion-col>

        <ion-col size="auto">
          <ion-router-link href="https://tiktok.com/@akblablah">
            <ion-icon class="socmed" name="logo-tiktok"></ion-icon>
          </ion-router-link>
        </ion-col>

        <ion-col size="auto">
          <ion-router-link href="www.tumblr.com">
            <ion-icon class="socmed" name="logo-tumblr"></ion-icon>
          </ion-router-link>
        </ion-col>

        <ion-col>
          <ion-router-link href="www.youtube.com">
            <ion-icon class="socmed" name="logo-youtube"></ion-icon>
          </ion-router-link>
        </ion-col>

      </ion-row>
    
    </ion-grid>

  </div>
  
</ion-content>
