ion-label {
    display: block;
    color: black;
    text-align: center;
    
}

.avatar_div {
    
    background-position: top;
    background-repeat: non repeat;
    background-size: cover;
    height: 300px;
    width: 400px;
    position: absolute;
    
}
