.header {
    background-position: top;
    background-repeat: non repeat;
    background-size: cover;
    height: 280px;
    width: 400px;
    margin-bottom: 10px;
}

.username {
    display: block;
    color: black;
    text-align: center;
    font-family: 'Ovo';
    font-size: 25px;

}

.bio {
    display: block;
    color: #1a1a1a;
    text-align: center;
    font-family: 'Poppins';
    font-size: 13px; 
}

.desc {
    display: block;
    color: #242323;
    text-align: center;
    font-family: 'Poppins';
    font-size: 10px; 
}

ion-card {
    width: 100px;
    height: 100px;
    box-shadow: none;

    img {
        object-fit: cover;
        width: 100%;
        transform: scale(1.1, 1.1) rotate(1deg);
        transition: 600ms all ease-in-out;
    }
}

.swiper-slide-active {
    transform: scale(1.01, 1.01);  

    ion-card {
        img {
            transform: scale(1, 1);
        }
    }
}

.swiper-slide {
    transition: 400ms all ease-in-out;
}

.personal {
    
    font-size: 20px;
    padding-left: 10px;
}

.personal_text {
    font-family: 'Ovo';
    font-size: 15px;
    padding-left: 10px;
    margin-bottom: 5px;
}



ion-item { 
    color: #ead9ce;
    background-color: none;
    border-radius: 9px;
    margin-left: 40px; 
    margin-right: 40px;
    margin-top: 10px;
    


}

    .name {
        background-color: #7F5C45;
        
    }

    .name_icon {
        font-size: 15px;
    }

    .name_text {
        font-family: 'Poppins';
        font-size: 13px;

    }

    .add {
        background-color: #7F5C45;

    }

    .add_icon {
        font-size: 15px;
    }

    .add_text {
        font-family: 'Poppins';
        font-size: 13px;

    }

    .bday {
        background-color: #7F5C45;

    }

    .bday_icon {
        font-size: 15px;
    }

    .bday_text {
        font-family: 'Poppins';
        font-size: 13px;

    }

    .con {
        background-color: #7F5C45;

    }

    .con_icon {
        font-size: 15px;
    }

    .con_text {
        font-family: 'Poppins';
        font-size: 13px;

    }

    .socmed {
        color: #7F5C45;
        font-size: 25px;
        align-self: center;
        grid-row: auto;
    }