ion-item { 
    color: #ead9ce;
    background-color: none;
    border-radius: 9px;
    margin-left: 40px; 
    margin-right: 40px;
    margin-top: 10px;

}
.personal {
    background-color: #7F5C45;

}

.personal_icon {
    font-size: 15px;
}

.personal_text {
    font-family: 'Poppins';
    font-size: 13px;

}