<ion-list>
      
    <ion-item lines="none" class="personal" color="none">
      <ion-icon class="personal_icon" slot="start" name="person-outline"></ion-icon>
      <ion-label class="personal_text">{{nm}}</ion-label>
    </ion-item>

    <ion-item lines="none" class="personal" color="none">
      <ion-icon class="personal_icon" slot="start" name="location-outline"></ion-icon>
      <ion-label class="personal_text">{{addr}}</ion-label>
    </ion-item>

    <ion-item lines="none" class="personal" color="none">
      <ion-icon class="personal_icon" slot="start" name="calendar-clear-outline"></ion-icon>
      <ion-label class="personal_text">{{bday}}</ion-label>
    </ion-item>

    <ion-item lines="none" class="personal" color="none">
      <ion-icon class="personal_icon" slot="start" name="call-outline"></ion-icon>
      <ion-label class="personal_text">{{cont}}</ion-label>
    </ion-item>
  </ion-list>
