<ion-content [fullscreen]="true">
  <div class="header" [style.backgroundImage]="'url(/assets/images/header.png)'">
  </div>

  <div class="profile">
    <ion-label class="username">ana karl</ion-label>
    <ion-label class="bio">ashes over flowers</ion-label>
    <ion-label class="desc">21, still not ready for life, she/her</ion-label>
  </div>

  <div class="get">
    
    <ion-item lines="none" class="personal" color="none">
      <ion-icon class="personal_icon" slot="start" name="flower-outline"></ion-icon>
      <ion-label class="personal_text">Random Facts</ion-label>
    </ion-item>
    
  </div>
   
  <div class="likes">
    
    <ion-slides [options]="option">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="page1">
              <img src="assets/images/kdrama.png"/>
            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title>kdrama & series</ion-card-title>
            <ion-card-subtitle>loves to watch kdrama & netflix series</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="page2">
              <img src="assets/images/read.png"/>
            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title>#wattpadislife!</ion-card-title>
            <ion-card-subtitle>wattpader since 2013, also a writer</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="page2">
              <img src="assets/images/shopping.png"/>
            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title>add to cart</ion-card-title>
            <ion-card-subtitle>parcel received,  bye allowance huhu</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="page2">
              <img src="assets/images/eat.png"/>
            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title>yum yum yum</ion-card-title>
            <ion-card-subtitle>let's just eat and eat chubby is the new sexy</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="page2">
              <img src="assets/images/it.png"/>
            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title>IT student</ion-card-title>
            <ion-card-subtitle>future taga bantay ng computer shop</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="page2">
              <img src="assets/images/jour.png"/>
            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title>dear diary</ion-card-title>
            <ion-card-subtitle>used to have a diary/journal</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>
    
    <ion-item lines="none" class="personal" color="none">
      <ion-icon class="personal_icon" slot="start" name="people-outline"></ion-icon>
      <ion-label class="personal_text">Friends</ion-label>
    </ion-item>
    
  <app-circle></app-circle>

</div>
</ion-content>