.chev {
    color:#a78a8a;
    
}

.back {
    color:#a78a8a;
}

.all {
    font-size: 25px;
    font-family: 'Arial';
    margin-left: 25px;
}
ion-card {
    width: 320px;
    height: 380px;
    box-shadow: none;
    margin-left: 35px;
    img {
        object-fit: cover;
        width: 100%;
    }
}