<ion-content [fullscreen]="true">

  <div class="vip">
    <ion-button (click)="back()" fill="clear">
      <ion-icon class="chev" slot="start" name="chevron-back-outline"></ion-icon>
      <ion-label class="back">Back</ion-label>
    </ion-button>
  </div>

  <div>
    <ion-label class="all">All</ion-label>
  </div>

  <div >
      <ion-card >
        <img src="assets/images/1.jpg"/>
      </ion-card>
  
      <ion-card >
        <img src="assets/images/2.jpg"/>
      </ion-card>
    
      <ion-card>
        <img src="assets/images/3.jpg"/>
      </ion-card>

      <ion-card >
        <img src="assets/images/4.jpg"/>
      </ion-card>

      <ion-card >
        <img src="assets/images/5.jpg"/>
      </ion-card>
   
      <ion-card >
        <img src="assets/images/6.jpg"/>
      </ion-card>

      <ion-card >
        <img src="assets/images/7.jpg"/>
      </ion-card>
  
      <ion-card >
        <img src="assets/images/8.jpg"/>
      </ion-card>

      <ion-card >
        <img src="assets/images/9.jpg"/>
      </ion-card>

      <ion-card >
        <img src="assets/images/10.jpg"/>
      </ion-card>
 
      <ion-card >
        <img src="assets/images/11.jpg"/>
      </ion-card>
   
      <ion-card >
        <img src="assets/images/12.jpg"/>
      </ion-card>
   
      <ion-card >
        <img src="assets/images/13.jpg"/>
      </ion-card>
   
      <ion-card >
        <img src="assets/images/14.jpg"/>
      </ion-card>
  
      <ion-card >
        <img src="assets/images/15.jpg"/>
      </ion-card>

      <ion-card >
        <img src="assets/images/16.jpg"/>
      </ion-card>
   
      <ion-card >
        <img src="assets/images/17.jpg"/>
      </ion-card>
 
      <ion-card >
        <img src="assets/images/18.jpg"/>
      </ion-card>
   
      <ion-card >
        <img src="assets/images/19.jpg"/>
      </ion-card>
  
      <ion-card >
        <img src="assets/images/20.jpg"/>
      </ion-card>

      <ion-card >
        <img src="assets/images/21.jpg"/>
      </ion-card>
   
      <ion-card >
        <img src="assets/images/22.jpg"/>
      </ion-card>
   
      <ion-card >
        <img src="assets/images/23.jpg"/>
      </ion-card>
  
      <ion-card >
        <img src="assets/images/24.jpg"/>
      </ion-card>
   
      <ion-card >
        <img src="assets/images/25.jpg"/>
      </ion-card>

      <ion-card >
        <img src="assets/images/26.jpg"/>
      </ion-card>
   
      <ion-card >
        <img src="assets/images/27.jpg"/>
      </ion-card>
 
      <ion-card >
        <img src="assets/images/28.jpg"/>
      </ion-card>

      <ion-card >
        <img src="assets/images/29.jpg"/>
      </ion-card>
  
      <ion-card >
        <img src="assets/images/30.jpg"/>
      </ion-card>

      <ion-card >
        <img src="assets/images/31.jpg"/>
      </ion-card>

      <ion-card >
        <img src="assets/images/32.jpg"/>
      </ion-card>
 
      <ion-card >
        <img src="assets/images/34.jpg"/>
      </ion-card>

      <ion-card >
        <img src="assets/images/35.jpg"/>
      </ion-card>

      <ion-card >
        <img src="assets/images/36.jpg"/>
      </ion-card>
   
      <ion-card >
        <img src="assets/images/37.jpg"/>
      </ion-card>

      <ion-card >
        <img src="assets/images/38.jpg"/>
      </ion-card>

  </div>
 
</ion-content>
